html,body,ul,li{margin:0;padding: 0}
a{text-decoration: none;
  color:#000;
  }
li{list-style:none;}
.clearfix:after{content: "";
                display: block;
                clear:both;
                }  
.bookHeader{background-color:orange }
.bookHeader li{line-height: 20px;
               height: 20px;
               float:left;
               margin:0 10px;
               }